version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: ticketrush-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:alpine
    container_name: ticketrush-redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  pg_data: